<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/user-page.css">
    <link rel="stylesheet" href="/css/form.css">
    <title>Landing</title>
</head>
<body>
    <div th:replace="components/navbar"></div>
        <div class="row no-padding">

            <div class="col-1"></div>
            <div class="col-4 no-padding user-profile-forms d-flex flex-column justify-content-around">
                <div class="rounded-pill py-3 bg-info">
                    <div class="row no-padding">
                        <div class="col d-flex justify-content-center align-items-center">
                            <img class="rounded-circle" th:src="@{/images/default-image/default-profile-picture.jpg}" alt="Default Picture" style="width:auto;height:20vh;">
                        </div>
                        <div class="col">
                            <div class="container">
                            <div th:each="user : ${user}">
                                <p class="inline">Username :</p><p th:text="${user.username}"></p>
                                <p th:text="${user.email}"></p>
                                <p th:text="${user.gender} ?: 'unknown'"></p>
                            </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="">
                    <form class="border border-1 form-padding rounded-lg form-padding" th:action="@{/user/movies/create}"  th:object="${movie}" style="background-color:whitesmoke;" method="post">
                        <h2>Add New Movie to Collection</h2>
                        <div class="container">
                            <div class="form-group">
                                <label for="name">Movie Name</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Movie Name" th:field=*{name}>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" class="form-control" name="description" id="description" placeholder="Description" th:field=*{description}>
                            </div>
                            <div class="form-group">
                                <label for="releaseDate">Movie Release Date</label>
                                <input type="date" class="form-control" name="releaseDate" id="releaseDate" th:field=*{releaseDate}>
                            </div>

                            <div class="form-group">
                                <label for="language">Language</label>
                                <select id="language" th:field=*{language}>
                                    <option th:each="language : ${T(com.moviecollection.MovieCollection.enums.MovieLanguage).values()}"
                                            th:value="${language}"
                                            th:text="${language}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select id="category" th:field=*{category}>
                                <option th:each="category : ${T(com.moviecollection.MovieCollection.enums.MovieCategories).values()}"
                                        th:value="${category}"
                                        th:text="${category}">
                                </option>
                            </select>
                            </div>

                        <button class="btn btn-lg btn-primary btn-block" type="submit">Add Movie</button>
                        </div>
                    </form>
                </div>

            </div>

            <div class="col-1"></div>

            <div class="col-5 no-padding ">
                <div class="d-flex justify-content-center pt-5">
                    <h1>Your Movie Collection</h1>
                </div>
                <hr>

                <span th:each="movie : ${userMovies}">
                    <div class="row no-padding my-4">
                        <div class="col d-flex justify-content-center align-items-center">
                            <img th:src="@{/images/default-image/default-movie-image.jpg}" alt="Default Picture" style="width:auto;height:20vh;">
                        </div>
                        <div class="col">
                            <div class="container px-2">
                            <div class="d-flex flex-column justify-content-around">
                                <div class="d-flex flex-row justify-content-left">
                                    <p class="pr-3">Movie Name :</p>
                                    <p th:text="${movie.name}"></p>
                                </div>
                                <div class="d-flex flex-row justify-content-left">
                                    <p class="pr-3">Description :</p>
                                    <p th:text="${movie.description}"></p>
                                </div>
                                <div class="d-flex flex-row justify-content-left">
                                    <p class="pr-3">Release Date :</p>
                                    <p th:text="${movie.releaseDate} ?: 'unknown'"></p>
                                </div>
                                </div>
                                <div class="d-flex flex-row justify-content-left">
                                    <p class="pr-3">Release Date :</p>
                                    <p th:text="${movie.category} ?: 'unknown'"></p>
                                </div>
                                <div class="d-flex flex-row justify-content-left">
                                    <p class="pr-3">Category :</p>
                                    <p th:text="${movie.category} ?: 'unknown'"></p>
                                </div>
                                <div class="d-flex flex-row justify-content-left">
                                    <p class="pr-3">Language :</p>
                                    <p th:text="${movie.language} ?: 'unknown'"></p>
                                </div>
                            </div>
                                <button type="button" class="btn btn-outline-success">Edit Movie</button>
                            </div>
                        </div>

                    <hr>
                </span>

            </div>


            <div class="col-1"></div>
        </div>


</body>
</html>